@import 'fonts-include/_open-sans-cyr.scss';
@import 'fonts-include/_nunito-cyr.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    //sizes
    width: 100%;
    min-height: 100%;

    
}
body{
    //display
    display: flex;
    flex-direction: column;
    
    //sizes
    width: 100%;
    
    height: 100vh;
    font-family: $os;

    background:   url('../img/light-layer-bg.png') no-repeat, url('../img/marmalade-bg.png') no-repeat, #fc5a28;
    

    @media (max-width: 1200px){
        background-size: cover, cover;
    }
    
    
}


address{
    font-style: normal;
}

.page-content{
    //display
    display: flex;
    flex-direction: column;
    align-items: center;
    //sizes
    width: 100%;    
    padding: 65px 0;
    @media(max-width: 1595px){
        padding: 65px 20px;
    }
    @media(max-width: 768px){
        padding: 55px 0px;
    }
}

.page-content__inner{
    background-color: #fff;
    width: 100%;
    max-width: 1545px;
    min-height: 1500px;

    padding: 15px 0 123px;
    @media(max-width: 1595px){
        max-width: 100%;

        
    }
}


.header{
    background-color: #272625;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__inner{
    width: 100%;
    max-width: 1545px;
    padding: 23px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 1595px){
        max-width: 100%;
        padding: 23px 20px 38px;
    }

    @media(max-width: 1220px){
        padding: 23px 20px;
    }

}


.header_scrolled{
    position: fixed;
    top: 0;
    opacity: 1;
    z-index: 77;
    animation: headerFadeIn .5s linear;

    .header__right-bar{
        display: flex;

        @media (max-width: 1366px){
            flex-direction: column;
        }
    }

    .header__inner{
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .menu-bar{
        order: 1;

        display: flex;
        align-items: center;

        @media (max-width: 1366px){
            order: 2;
        }
    }

    .shopping-bar{
        order: 2;
        padding: 0;
        margin-left: 20px;

        @media (max-width: 1366px){
            order: 1;
            margin-left: 0px;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

    }

    .shopping-block{
        @media (max-width: 1366px){
            flex-grow: 0;
        }
    }

    .user{
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .user-state{
        display: none;
    }

    .user__icon{
        margin-right: 0;
    }
    .cart__summ{
        display: none;
    }
    .unit-of-measure{
        display: none;
    }

    .cart{
        position: relative;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-left: 10px;
        text-decoration: none;
    }
    .cart__icon{
        margin-right: 0;
    }
    .cart__count{
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        background-color: #6977c9;
        padding: 5px;
        font-size: 12px;

        
        bottom: -10px;
        right: -8px;
    }

    .open-card-btn-w{
        display: none;
    }
}

@keyframes headerFadeIn {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}


.h-menu{
    list-style: none;
    display: flex;
    padding: 5px;
}

.menu-arrow{
    transform: rotate(90deg);
    display: inline-block;
    font-family: $nunito;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
}

.h-menu__item{
    &:not(:last-of-type){
        margin-right: 20px;
    }
}
.h-menu__link{
    font-family: $os;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.catalog-drop{
    position: absolute;
    width: 100%;
    padding: 0px 0px 0;
    
    left: 0;
    display: none;
    z-index: 15;
    margin-top: -5px;
    
}

.item-drop__inner{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fe4944;
}
.item-drop__triangle{
    width: 50px;
    height: 25px;
    position: absolute;
    border: 25px solid transparent; border-top: 25px solid #272625;
    top: 0px;

    
}
.parent-item{
    &:hover{
        .catalog-drop{
            display: block;
            animation: showDrop .5s ease-out;
        }
    }
}

@keyframes showDrop {
    from{
        opacity: 0;
        transform: translateY(-15px);
        
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        
    }
}

.products{
    color: #fff;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    margin: 0 40px 40px;
}

.products__title{
    flex-grow: 1;
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: normal;
    
}

.products__list{
    list-style: none;
}
.item-drop__menu-group{
    display: flex;
    width: 100%;
    max-width: 1060px;
    flex-wrap: wrap;
    padding: 45px 20px 0 20px ;
    margin-bottom: 40px;
    
}
.user{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}

.user__icon{
    margin-right: 25px;
}

.shopping-bar{
    display: flex;
    align-items: center;
    padding: 30px 0 20px 0;

    @media (max-width: 1220px){
        display: none;
    }
}

.menu-bar{
    @media (max-width: 1220px){
        display: none !important;
    }
}

.shopping-block{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.cart{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cart__icon{
    margin-right: 15px;
}
.cart__info{
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}
.open-card-btn-w{
    padding: 5px;
    margin-left: 25px;
}
.open-card-btn{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 160px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe4944;
}

.logo{
    position: relative;
    display: block;
    text-decoration: none;
    outline: none;

    max-width: 607px;

}



.f-logo{
    margin-top: 50px;
    margin-right: 90px;
    order: 2;
    @media(max-width: 1595px){
        margin-right: 0px;
    }

    @media( max-width: 1200px ){
        order: 1;
        margin-top: 0px;
    }
}
.logo__img{
    max-width: 100%;

    @media (max-width: 1900px){
        width: 31.94vw;
        height: 7.2vw;
    }
    @media (max-width: 1765px){
        width: 33vw;
        height: 7.43vw;
    }

    @media (max-width: 1630px){
        width: 34vw;
        height: 7.66vw;
    }
    @media (max-width: 1495px){
        width: 35vw;
        height: 7.89vw;
    }
    @media (max-width: 1360px){
        width: 36vw;
        height: 8.11vw;
    }
       
    @media(max-width: 528px){
        width: 190px;
        height: 41px;
    }

}

.h-logo_scrolled{
    .logo__img{
        max-width: 360px;
        max-height: 81px;
    }

    .logo__slogan{
        font-size: 12.5px;
        bottom: 14px;
    }
}


.f-logo__img{
    max-width: 512px;
    height: 115.5px;

    @media (max-width: 1365px){
        max-width: 37.48vw;
        height: 8.42vw;
    }
    @media (max-width: 1268px){
        max-width: 36.5vw;
        height: 8.21vw;
    }
    @media (max-width: 1168px){
        max-width: 35vw;
        height: 7.875vw;
    }
    @media (max-width: 1068px){
        max-width: 34vw;
        height: 7.65vw;
    }
    @media (max-width: 968px){
        max-width: 33vw;
        height: 7.425vw;
    }
    @media (max-width: 868px){
        max-width: 32vw;
        height: 7.2vw;
    }
    @media (max-width: 768px){
        max-width: 250px;
        height: 56px;
    }
}

.logo__slogan{
    font-size: 21.5px;
    color: #fff;
    font-family: $nunito;
    text-transform: uppercase;
    font-style: italic;
    position: absolute;
    font-weight: 900;
    bottom: 25px;

    @media (max-width: 1830px){
        font-size: 20.5px;
    }

    @media (max-width: 1700px){
        font-size: 19.5px;
        bottom: 24px;
    }
    @media (max-width: 1570px){
        font-size: 18.5px;
        bottom: 23px;
    }
    @media (max-width: 1440px){
        font-size: 17.5px;
        bottom: 22px;
        letter-spacing: .1px;
    }
    @media (max-width: 1330px){
        font-size: 16.5px;
        bottom: 20px;
    }
    @media (max-width: 1260px){
        font-size: 14.5px;
        bottom: 16px;
    }
    @media (max-width: 1130px){
        font-size: 12.5px;
        bottom: 14px;
    }
    @media (max-width: 970px){
        font-size: 10.5px;
        bottom: 12px;
    }
    @media (max-width: 820px){
        font-size: 8.5px;
        bottom: 10px;
    }
    @media (max-width: 820px){
        font-size: 6.5px;
        bottom: 10px;
    }

    /*
    @media(max-width: 768px){
        font-size: 6.5px;
        bottom: 10px;
        left: 3px;
    }
    */
}


.hamburger{

    display: none;
    width: 41px;
    height: 28px;
    
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s;
    @media(max-width: 1220px){
        display: flex;
    }
}

.hamburger_active{
    transform: rotate(90deg);
}

.hamburger__line{
    width: 100%;
    height: 4px;
    background-color: #fe4944;
}


.footer{
    display: flex;
    width: 100%;
    justify-content: center;

}

.footer__inner{
    width: 100%;
    max-width: 1545px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 220px;

    @media(max-width: 1595px){
        max-width: 100%;
        padding: 0 0px 220px 25px;
    }

    @media(max-width: 1200px){
        flex-direction: column;
        padding: 0 0px 190px 25px;
    }
    @media( max-width: 600px ){
        padding: 0 23px 150px 23px;
        align-items: center;
    }

}

.footer__nav{
    display: flex;
    order: 1;

    @media( max-width: 1200px ){
        order: 2;
    }

    @media( max-width: 600px ){
        flex-direction: column;
    }
}

.f-menu{
    list-style: none;

    &:not(:first-of-type){
        margin-left: 90px;
    }

    @media (max-width: 600px){
        &:not(:first-of-type){
            margin-left: 0px;
            margin-top: 35px;
        }   
    }

    
}

.f-menu__item{
    &:not(:last-of-type){
        margin-bottom: 7px;
    }
}
.f-menu__link{
    font-family: $os;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 768px){
        font-size: 15px;
    }
}

.mob-menu{
    width: 100%;

    transform: translateX(-100%);
    transition: .5s;
    position: fixed;
    z-index: 999;
    @media (min-width: 1121px){
        display: none !important;
    }

    
}

.mob-menu__shopping{
    padding: 20px;
    background-color: #202020;

    position: relative;

    &::after{
        content: "";
        position: absolute;
        border: 25px solid transparent; border-top: 25px solid #202020;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.mob-menu__catalog{
    background-color: #fe4944;

    display: flex;

    flex-wrap: wrap;

    padding-bottom: 40px;
}

.shopping-block_mob{
    flex-grow: 0;
    justify-content: center;
    padding: 6px 0;

    
}

.mob-menu{
    .user-state{
        @media (max-width: 768px){
            font-size: 15px;
        }
    }
    .cart__info{
        @media (max-width: 768px){
            font-size: 15px;
        }
    }

    .open-card-btn{
        @media (max-width: 768px){
            font-size: 15px;
        }
    }

    .user__icon{
        @media (max-width: 768px){
            margin-right: 10px;
        }
    }

    .user__icon img{
        @media (max-width: 768px){
            width: 16px;
            height: 19px;
        }
    }
    .cart__icon{
        @media (max-width: 768px){
            margin-right: 10px;
        }
    }
    .cart__icon img{
        @media (max-width: 768px){
            width: 19px;
            height: 19px;
        }
    }

    .products{
        margin: 40px 40px 0 40px;
        width: 190px;
    }
}

.user_mob{
    justify-content: center;
    padding: 6px 0;

    
    
    
    
}

.open-card-btn-w_mob{
    display: flex;
    justify-content: center;
    padding: 6px 0;
    margin-left: 0;
}

.page-navigate{
    display: flex;
    padding: 35px 60px;
}


.breadcrumbs{
    flex-grow: 1;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.breadcrumbs__inner{
    overflow: hidden;
    display: flex;
    
}
.breadcrumbs__link{
    font-size: 18px;
    text-decoration: none;
    color: #fe4944;
    display: flex;

    &:not(:first-of-type){
        margin-left: 5px;
    }
}

.breadcrumbs__link_current{
    color: #7d7d7d;
}

.breadcrumbs__icon{
    margin-right: 15px;
}

.search-form{
    width: 490px;
}

.search-form__input-wrap{
    width: 100%;
}

.search-form__input{
    width: 100%;
    border-radius: 10px;
    border: solid 1px #c4c3c1;
    background-color: #f8f8f8;
    padding: 15px 27px;


    font-family: $os;
    font-weight: normal;
    color: #202020;
    font-size: 18px;

    &::placeholder{
        color: #7d7d7d;
        text-transform: uppercase;
    }
}


.low-banners{
    width: 100%;
    
}

.low-banner{
    display: flex !important;
    width: 100%;
    height: 545px !important;
    background: url('../img/banners/low-banner-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 190px;
}
.low-banner__text{
    max-width: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.low-banner__title{
    font-size: 61px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 30px;
}

.low-banner__description{
    font-size: 30px;
    font-weight: normal;
    color: #fff;
}