$nunito: 'Nunito';

@font-face {
    font-family: 'Nunito';
    src: local('Nunito Black'), local('Nunito-Black'), 
    url('../fonts/Nunito-Cyr/Nunitoblack.woff2') format('woff2'), 
    url('../fonts/Nunito-Cyr/Nunitoblack.woff') format('woff'),
    url('../fonts/Nunito-Cyr/Nunitoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
